body {
	font-family: arial, sans-serif;
}
.header {
	float: right;
	position: relative;
	font-size: 13px;
	padding-top: 10px;
	color: #000;
}
.header a {
	text-decoration: none;
	color: #3c3737;
	padding-left: 10px;
	padding-right: 10px;
}
.header a:hover {
	text-decoration: underline;
}
.header img {
	padding-left: 10px;
	padding-right: 20px;
}
.gmail .images {
	display: inline-block;
}
.logo {
	display: block;
    text-align: -webkit-center;
	padding-top: 190px;
}
.searchbox {
	display: block;
    text-align: -webkit-center;
}
textarea {
	height: 30px;
	margin-top: 30px;
}
.searchbox img {

	background-size: 24px 24px;
    height: 23px;
    width: 23px;
	padding-bottom: 5px;
	padding-right: 15px;
}
button {
	display: inline-block;
    text-align: -webkit-center;	
	text-decoration: none;
	border: 1px solid #f2f2f2;
	height: 40px;
	width: 135px;
	color: #757575;
	background-color: #f2f2f2;
	}
button:hover {
	color: #222;
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
span {
	color: red;
}
.text {
	display: block;
    text-align: -webkit-center;
	font-size: small;
}
.text a {
	text-decoration: line-through;
}
.footer {
	background-color: #f2f2f2;
	height: 30px;
	width: 100%;
	position:fixed;bottom:0;left:0;right:0;height:30px;
}
.footer-left {
	float: left;
	font-size: 13px;
	padding-left: 20px;
}
.footer-right {
	float: right;
	font-size: 13px;
	padding-right: 20px;
}
.footer-left .footer-right {
	display: inline-block;
}
.footer-left a {
	text-decoration: none;
	color: #3c3737;
	padding-left: 10px;
	padding-right: 10px;
}
.footer-left a:hover {
	text-decoration: underline;
}
.footer-right a {
	text-decoration: none;
	color: #3c3737;
	padding-left: 10px;
	padding-right: 10px;
}
.footer-right a:hover {
	text-decoration: underline;
}
