.header {
	position: absolute;
	text-align: right;
}
.logo {
	display: block;
    text-align: -webkit-center;
	padding-top: 200px;
}
.searchbox {
	display: block;
    text-align: -webkit-center;
}
span {
	color: red;
}
.text {
	display: block;
    text-align: -webkit-center;
}
.footer-left {
	display: block;
    text-align: -webkit-center;
}
footer.right {
	display: block;
    text-align: -webkit-center;
}